@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

.part1 {
  background-image: url('/fondo_slide2.png');
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center; /* Mantiene el contenido centrado verticalmente */
}

.container {
  display: flex;
  justify-content: space-between; /* Esto asegura que haya espacio entre el contenido y el cubo */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
}

.content {
  width: 60%; /* Ajusta el ancho del contenido según sea necesario */
  padding-right: 50px; /* Espacio entre el texto y el cubo */
}

.part1 .country {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.country h1 {
  font-size: 40px;
  margin-right: 10px;
}

.country img {
  width: 75px;
  height: 70px;
}

.img-cubo {
  width: 600px; /* Ajusta el tamaño de la imagen del cubo a 300px */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: 20px; /* Espacio entre el contenido y el cubo */
  align-self: flex-start; /* Alinea el cubo en la parte superior */
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

.btndescubre {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  background-color: #FFC050;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btndescubre:hover {
  background-color: #FFC050;
}

.sponsor {
  background-color: #000000;
  padding: 30px;
  text-align: center;
}

.sponsor-title {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.sponsor .publicidad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor .sponsor-img {
  width: 130px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.sponsor .sponsor-img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.073);
}

.divisor {
  background-color: black;
  height: 20px;
}

.formulario {
  background-color: #ffffff;
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 60px 20px;
  text-align: center;
}

.container-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.content-formulario h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

.content-formulario p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #555555;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input {
  padding: 15px;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #4b9cdb; /* Color del borde al enfocar */
}

.btn {
  background-color: #FFC050; /* Color del botón */
  color: #000000;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #e88ae6;
  transform: scale(1.05);
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .container, .container-location, .sponsor .publicidad {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center;
  }

  .content, .content-location, .formulario form {
    width: 100%; /* Ajusta el contenido a 100% para pantallas pequeñas */
    padding: 0 10px; /* Ajusta el padding para mejorar el espacio */
  }

  .img-cubo, .location-img, .sponsor .sponsor-img {
    width: 80%; /* Ajusta imágenes a ocupar todo el ancho */
    margin-left: 0; /* Eliminar margen lateral */
    margin-bottom: 20px; /* Espacio entre elementos */
  }

  .sponsor .sponsor-img {
    width: 50px; /* Set a smaller width for sponsor images on mobile */
    margin-bottom: 10px; /* Add some space between images */
  }

  h1, .country h1, .location-title, .location-name, .content-formulario h1 {
    font-size: 28px; /* Reduce el tamaño de las fuentes para móviles */
  }

  .btndescubre, .btn-tickets, .btn {
    width: 60%;
    padding: 10px; /* Reduce padding for smaller screens */
    font-size: 14px; /* Reduce font size for smaller screens */
  }

  .input {
    padding: 10px; /* Reduce padding for smaller screens */
    font-size: 14px; /* Reduce font size for smaller screens */
  }
}

/* Ajustes para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .container, .container-location {
    flex-direction: column;
  }

  .img-cubo, .location-img {
    width: 80%;
    margin: 0 auto;
  }

  .content, .content-location {
    width: 100%;
    padding: 0 20px;
  }

  .btndescubre, .btn-tickets {
    width: 80%; /* Adjust width for tablets */
    padding: 12px; /* Adjust padding for tablets */
    font-size: 16px; /* Adjust font size for tablets */
  }

  .content-formulario h1 {
    font-size: 28px;
  }

  .input {
    padding: 12px; /* Adjust padding for tablets */
    font-size: 15px; /* Adjust font size for tablets */
  }
}