.logo-img {
  height: 45px; /* Ajusta el tamaño según tus necesidades */
  width: auto; /* Mantiene la proporción */
}

.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between; /* Espacia el logo y los enlaces */
  align-items: center;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex: 1;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #0000FE;
}

.buy-button-navbar {
  background-color: #ffea00;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buy-button-navbar:hover {
  background-color: #4883f2; /* Cambia el color de fondo al pasar el ratón */
}

.buy-button-navbar a {
  color: white; /* Asegúrate de que el texto sea blanco */
  text-decoration: none; /* Sin subrayado */
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    padding: 1rem; /* Ajusta el padding */
  }

  .navbar-links {
    flex-direction: column; /* Cambia a columna los enlaces */
    gap: 0.5rem; /* Reduce el espacio entre enlaces */
  }

  .buy-button-navbar {
    width: 100%; /* Botón ocupa todo el ancho */
    text-align: center; /* Centra el texto */
    margin-top: 1rem; /* Añade margen superior */
  }
}